.company {
	border: 3px solid black;
	padding: 10px;
	margin: 10px 0;
}

.company h4 a {
	color: black;
}

.company h4 a:hover {
	font-style: italic;
}

.company img {
	border: 0;
	max-width: 250px;
	max-height: 150px;
	display: block;
	float: right;
}

.people {
	width: 150px;
	float: left;
}

.people img {
	max-width: 150px;
	height: 120px;
	display: block;
	padding: 0 5px;
	margin: auto;
}

.people p {
	display: block;
	margin: auto;
	text-align: center;
}
   
.people .name {
	font-weight: bold;
}

.clear {
	border: 0;
	clear: both;
}

footer {
	margin: 20px;
}